.AppPresentation{
    padding: 60px;
    h1{
        text-align: center;
        width: 600px;
        position: relative;
        left: 350px;
//styleName: Heading/Large;
font-family: Manrope;
font-size: 40px;
font-weight: 800;
line-height: 44px;
letter-spacing: 0em;
text-align: center;
    }
    span{
        //styleName: Body/Large;
font-family: Manrope;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
position: relative;
left: 550px;
    }
    .boxes{
    position: relative;

        display: flex;
        align-items: center;
        gap: 100px;
        padding: 50px;
        img{
            position: relative;
            right: 30px;
        }
        .img{
            position: absolute;
            left: 400px;
            z-index: -1;    
            
        }
        .left{
            display: flex;
            flex-direction: column;
            gap: 80px;
            position: relative;
            right: 30px;
        }
        .box{
            display: flex;
            align-items: center;
            gap: 40px;
        }
        .box:hover{
            h2{
                color:rgba(215, 96, 199, 1);
            }
            svg circle {
                fill:rgba(215, 96, 199, 1) ;
            }
            svg path{
                stroke: white
            }
        }
        
        h2{
            //styleName: Heading/Small;
font-family: Manrope;
font-size: 24px;
font-weight: 800;
line-height: 26px;
letter-spacing: -0.03em;
text-align: left;
padding-bottom: 10px;

        }
        p{
          //styleName: Body/Medium;
font-family: Manrope;
font-size: 16px;
font-weight: 400;
line-height: 21px;
letter-spacing: -0.02em;
text-align: left;
width: 300px;
color: rgba(138, 138, 138, 1);


  
        }
    }
 }

 @media screen and ( max-width : 576px ){
    .AppPresentation {
        h1{
            text-align: center;
            width: 500px;
            position: relative;
            left: 100px;
    //styleName: Heading/Large;
    font-family: Manrope;
    font-size: 35px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
        }
        span{
            //styleName: Body/Large;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    left: 250px;
        }
        .boxes{
            display: flex;
            flex-direction: column;
        }
        .img{
            top: 480px;

        }
    }
    .dark-mode{
        background: #202020;
        color: #FFF;
      }
 }

 .dark-mode{
    background: #202020;
    color: #FFF;
  }