
.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    &>:first-child{
        font-family: Manrope;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%; /* 35.2px */
    }
    &>:nth-child(2){
        width: 1038px;
        color: var(--text-body, #626263);
        text-align: center;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
            }
}
.sec5-box{
    display: flex;
    align-items: center;
    gap: 16px;
}
.box5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 300px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid rgba(138, 138, 138, 0.80);
    background: #FFF;
    &>:nth-child(3){
        color: #000;
        leading-trim: both;
        text-edge: cap;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%; /* 19.8px */
        &>span{
            color: var(--primary, #D760C7);
            leading-trim: both;
            text-edge: cap;
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 110%;
        }
    }
    &>:nth-child(4){
        width: 240px;
        color: #8A8A8A;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &>:nth-child(5){
        width: 240px;
        color: #8A8A8A;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.imgs{
    display: flex;
    align-items: center;
    gap: 10px;
}